<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="TicketFee" value="50"/>
		<add key="OrdersPath" value="C:\Users\snick\source\repos\StrategyPattern\StrategyPattern\Orders.txt"/>
	</appSettings>
</configuration>